body {
  background-color: #d4f8e8;

}

hr{
  background-color: none;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 10%;
  opacity: 50%;
}

h1, h3{
  color: #de7119;
}
